@font-face {
    font-family: 'MTD Great Vibes';
    src: url('MTD.woff2') format('woff2'),
        url('MTD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '1FTV Blushing Rose';
    src: url('1FTVBlushingRose.woff2') format('woff2'),
        url('1FTVBlushingRose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UVN Ke Chuyen3';
    src: url('UVNKeChuyen3.woff2') format('woff2'),
        url('UVNKeChuyen3.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlack.woff2') format('woff2'),
        url('SVN-GothamBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThin.woff2') format('woff2'),
        url('SVN-GothamThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight.woff2') format('woff2'),
        url('SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltra.woff2') format('woff2'),
        url('SVN-GothamUltra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlackItalic.woff2') format('woff2'),
        url('SVN-GothamBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight.woff2') format('woff2'),
        url('SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBoldItalic.woff2') format('woff2'),
        url('SVN-GothamBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic.woff2') format('woff2'),
        url('SVN-GothamLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamItalic.woff2') format('woff2'),
        url('SVN-GothamItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBookItalic.woff2') format('woff2'),
        url('SVN-GothamBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic.woff2') format('woff2'),
        url('SVN-GothamLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltraItalic.woff2') format('woff2'),
        url('SVN-GothamUltraItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('SVN-GothamXLightItalic.woff2') format('woff2'),
        url('SVN-GothamXLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('SVN-GothamXLight.woff2') format('woff2'),
        url('SVN-GothamXLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThinItalic.woff2') format('woff2'),
        url('SVN-GothamThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '1FTV Blushing Rose';
    src: url('1FTVBlushingRose.woff2') format('woff2'),
        url('1FTVBlushingRose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

